<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmoKiD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li id="home-button" class="{% if request.path != '/' %}visible{% endif %}">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Home Logo" id="home-logo">
                </a>
            </li>
            <li><a href="{{ url_for('solar_system') }}">Solar System</a></li>
            <li><a href="{{ url_for('milky_way') }}">Milky Way</a></li>
            <li><a href="{{ url_for('eclipses') }}">Eclipses</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
