{% extends "base.html" %}

{% block content %}
    <!-- Welcome -->
    <h1>Welcome to</h1>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CosmoKiD Logo" style="width: 600px; height: auto;">
    <p style="margin-bottom: 20px;">Explore the wonders of the universe with CosmoKiD!</p>
    
    <!-- Note -->
    <div class="note">
        <p>This toy project lives on <a href="https://github.com/forusovam46/CosmoKiD" target="_blank">GitHub</a> and was a Final Project of <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science" target="_blank">CS50</a>, Harvard University's online course of Computer Science.</p>
        <p>It is meant to be a fun toy mini Astro Webpage for young cosmic enthusiasts that might get extended in the future.</p>
        <p>This webpage is somewhat part of a series, following my previous more complex Python package, <a href="https://github.com/forusovam46/H5CosmoKit" target="_blank">H5CosmoKit</a>.</p>
    </div>
{% endblock %}
